<html>
<head>
    <title>Checkout</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./styles/checkout.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div id="checkout">
        <div v-if="!checkoutSuccessful">
            <h1 class="title">Your cart is ready for checkout</h1>
            <h3 class="title">Verify it, delete any unwanted items, fill the form below, and checkout</h3><br>
            <a href="./home.html">Back to selection</a>
            <h3>Your Cart</h3>
            <div class="subjects">
                <div v-for="(d, i) in cart">
                    <div class="subject">
                        <div class="subject-top">
                            <div>
                                <h4>Subject</h4>
                                <p> {{ d.subject }}</p><br>
                                <h4>Price</h4>
                                <p>£{{ d.price }}</p><br>
                                <h4>Location</h4>
                                <p> {{ d.location }}</p><br>
                                <h4>Available</h4>
                                <p> {{ d.available }}</p><br>
                            </div>
                            <i class="fa fa-4x" :class="d.fa"></i>
                        </div>
                        <button class="cart" @click="remove_from_cart(i)"><i class="fa fa-times"></i></button>
                    </div>

                </div>

                <h3>Checkout</h3>

                <label>Name </label><input type="text" v-model="name">
                <label>Phone </label><input type="phone"  v-model="phoneNumber">
                
                <button v-if="validName(name) && validPhoneNumber(phoneNumber)" @click="checkout">Checkout</button>
            </div>
            <div v-else>
                <h1>Checkout successful</h1>
                <h3>Thank you, {{name}}. Your checkout was successful.</h3>
                <p>Your Name: {{name}}<br>
                    Your Phone Number: {{phoneNumber}}</p>
            </div>
        </div>

        <script src="./scripts/vue.js"></script>
        <script>
            var checkout = new Vue({
                el: '#checkout',
                data: {
                    name: "",
                    phoneNumber: "",
                    cart: localStorage.getItem("cart") ? JSON.parse(localStorage.getItem("cart")) : [],
                    checkoutSuccessful: false
                },
                methods: {
                    cart: function(){
                        localStorage.setItem("cart", JSON.stringify(this.cart))
                    },
                    remove_from_cart: function(i){
                        this.cart.splice(i, 1);
                        localStorage.setItem("cart", JSON.stringify(this.cart))
                    },
                    validName: function(name){
                        if(name){
                            if(name.match(/^[a-zA-Z]+$/)){
                                return true;
                            }
                        }
                        return false;
                    },
                    validPhoneNumber: function(phoneNumber){
                        if(phoneNumber){
                            if(Number.parseInt(phoneNumber)){
                                return true;
                            }
                        }
                        return false;
                    },
                    checkout: function(){
                        this.checkoutSuccessful = true;
                    }
                }
            })

        </script>
    </body>
</html>